server:
  port: 8080

spring:
  application:
    name: ShigureCafeBackened
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}
  
application:
  mail:
    from: noreply@shigure-nomi.shop
  microsoft:
    mail:
      tenant-id: ${MAIL_TENANT_ID:${AZURE_TENANT_ID}}
      client-id: ${MAIL_CLIENT_ID:${AZURE_CLIENT_ID}}
      client-secret: ${MAIL_CLIENT_SECRET:${AZURE_CLIENT_SECRET}}
    minecraft:
      tenant-id: ${MINECRAFT_TENANT_ID:${AZURE_TENANT_ID}}
      client-id: ${MINECRAFT_CLIENT_ID:${AZURE_CLIENT_ID}}
      client-secret: ${MINECRAFT_CLIENT_SECRET:${AZURE_CLIENT_SECRET}}
  s3:
    endpoint: ${S3_ENDPOINT:http://localhost:9000}
    access-key: ${S3_ACCESS_KEY:minioadmin}
    secret-key: ${S3_SECRET_KEY:minioadmin}
    bucket: ${S3_BUCKET:shigure-cafe-test}
    public-url: ${S3_PUBLIC_URL:http://localhost:9000/shigure-cafe-test}
    region: ${S3_REGION:auto}